.header {
  background-color: var(--background);
  box-shadow: 2px 2px 12px rgba(41, 54, 136, .1);
}

.headerContainer {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
}

.headerLogo {
  margin-right: 100px;
  padding: 8px 0;
}

.navContainer{
  display: flex;
  gap: 30px;
}

.addressContainer{
  margin-left: auto;
}

.addressList{
  display: flex;
  gap: 40px;
}