.header {
  background-color: var(--background);
  box-shadow: 2px 2px 12px rgba(41, 54, 136, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerContainer {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  width: 110px;
  padding: 10px 0;
}

.navContainer {
  display: none;
}

.addressContainer {
  display: none;
}

.iconsContainer {
  display: flex;
  gap: 30px;
}

.iconsLink {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 12px 0;
  fill: var(--title);
  background-color: inherit;
  transition: fill 0.3s ease, text-shadow 0.3s ease;
}

.iconsLink:hover,
.iconsLink:focus {
  text-shadow: 2px 2px 12px rgba(41, 54, 136, 0.2);
  fill: var(--nav);
}

.btnBurger {
  display: flex;
  align-items: center;
  padding: 10px 0;
  fill: var(--title);
  background-color: inherit;
  transition: fill 0.3s ease, text-shadow 0.3s ease;
}

.btnBurger:hover,
.btnBurger:focus {
  text-shadow: 2px 2px 12px rgba(41, 54, 136, 0.2);
  fill: var(--nav);
}

.btnClose {
  display: flex;
  align-items: center;
  padding: 10px 0;
  fill: var(--title);
  background-color: inherit;
  transition: fill 0.3s ease, text-shadow 0.3s ease;
}

.btnClose:hover,
.btnClose:focus {
  text-shadow: 2px 2px 12px rgba(41, 54, 136, 0.2);
  fill: var(--nav);
}

@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 768px;
  }

  .headerLogo {
    width: 130px;
    padding: 10px 0;
  }

  .navContainer {
    display: flex;
    gap: 30px;
  }

  .navItem {
    padding: 10px 0;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .navItemActive {
    padding: 10px 0;
    border-bottom: 2px solid black;
  }

  .navItemSale {
    padding: 10px 0;
    color: var(--nav);
  }

  .navItem:hover,
  .navItem:focus {
    text-shadow: 2px 2px 12px rgba(41, 54, 136, 0.2);
    color: var(--nav);
  }

  .btnBurger {
    display: none;
  }

  .btnClose {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1440px;
  }

  .headerLogo {
    width: 180px;
    margin-right: 100px;
    padding: 8px 0;
  }

  .iconsContainer {
    display: none;
  }

  .addressContainer {
    display: flex;
    margin-left: auto;
  }

  .addressList {
    display: flex;
    gap: 30px;
  }

  .addressItem {
    font-style: normal;
    font-size: 14px;
  }

  .adressLink {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 0;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .instaIcon {
    fill: var(--nav);
  }

  .adressLink:hover,
  .adressLink:focus {
    text-shadow: 2px 2px 12px rgba(41, 54, 136, 0.2);
    color: var(--nav);
  }
}
