.btnBack {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: inherit;
  margin-bottom: 16px;
  color: var(--secondary-text);
  fill: var(--secondary-text);
  transition: fill 0.3s ease, color 0.3s ease;
}

.btnBack:hover {
  color: var(--main-text);
  fill: var(--main-text);
}

.error {
  color: var(--nav);
  font-size: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.labelContainer {
  font-weight: 600;
}

.inputText {
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 8px;
  color: var(--secondary-text);
  font-weight: 600;
  font-size: 14px;
}

.spanLabel {
  color: var(--nav);
}

.privacyContainer {
  display: flex;
  flex-direction: column;
}

.privacyLabel {
  font-size: 12px;
  font-weight: 500;
}

.privacyInput {
  margin-right: 4px;
}

.privacyLink {
  color: var(--secondary-text);
  text-decoration: underline;
  font-weight: 500;
}

.btnBuy {
  margin-top: 30px;
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--main-text);
  padding: 6px 100px;
  font-weight: bold;
  border-radius: 4px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btnBuy:hover,
.btnBuy:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}
