.btnBack {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: inherit;
  margin-bottom: 16px;
  color: #848484;
  fill: #848484;
}

.btnBack:hover {
  color: var(--main-text);
  fill: var(--main-text);
}

.error {
  color: var(--nav);
  font-size: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.labelContainer {
  font-weight: 600;
}

.inputText {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
}

.spanLabel {
  color: var(--nav);
}

.publickContainer {
  display: flex;
  flex-direction: column;
}

.publickLabel {
  font-size: 12px;
  font-weight: 500;
}

.publickInput{
    margin-right: 4px;
}

.btnBuy {
  margin-top: 30px;
  background-color: var(--background);
  border: 1px solid #ccc;
  padding: 6px 100px;
  font-weight: bold;
  border-radius: 4px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btnBuy:hover,
.btnBuy:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}
