.mainContainer {
  padding: 0 15px;
  margin: 15px auto 30px auto;
  max-width: 1410px;
  min-height: 100vh;
}

.titleSale{
  font-size: 28px;
  font-weight: 800;
}

.textSale {
  color: var(--secondary-text);
  font-size: 14px;
  margin-bottom: 25px;
}