.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
    font-size: 22px; 
    font-weight: 800;
}

.textAbout {
  font-size: 14px;
}

.photoContainer {
  width: 345px;
  height: 345px;
  border-radius: 30px;
  background-image: url(/public/img/about.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media screen and (min-width: 768px) {
.aboutSection {
  flex-direction: row;
}

.textContainer {
  width: 361px;
}

.title {
    font-size: 28px; 
    font-weight: 800;
}

.photoContainer {
  width: 361px;
  height: 361px;
  border-radius: 30px;
  background-image: url(/public/img/about.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
}

@media screen and (min-width: 1440px) {
.aboutSection {
  gap: 30px;
}

.textContainer {
  gap: 15px;
  width: 690px;
}

.textAbout {
  font-size: 18px;
}

.photoContainer {
  width: 690px;
  height: 690px;
  border-radius: 30px;
  background-image: url(/public/img/about.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

}



