.footer {
  background-color: black;
  box-shadow: 2px 2px 12px rgba(41, 54, 136, 0.1);
}

.footerContainer {
  padding: 20px 15px;
  margin: 0 auto;
  max-width: 1410px;
  display: flex;
  justify-content: space-between;
  color: var(--border);
}

.adressContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.adressList {
  display: flex;
  gap: 10px;
}

.logoText {
  font-weight: 700;
  color: #fff;
}

.adressLink {
  font-size: 14px;
  transition: color 0.3s ease;
}

.adressLink:hover,
.adressLink:focus {
  color: #fff;
}

.footerIcon {
  fill: var(--border);
  transition: fill 0.3s ease;
}

.footerIcon:hover,
.footerIcon:focus {
  fill: #fff;
}

.privacyList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.privacyLink {
  font-size: 14px;
  transition: color 0.3s ease;
}

.privacyLink:hover,
.privacyLink:focus {
  color: #fff;
}

.logoFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoFooter {
  width: 90px;
}

.developerText {
  font-size: 14px;
  transition: color 0.3s ease;
}

