.formContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.categoryList {
  display: flex;
  gap: 20px;
}

.categoryLabel {
  display: flex;
  padding: 6px 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--secondary-text);
  font-weight: 500;
  cursor: pointer;
  transition: border 0.3s ease, color 0.3s ease;
}

.categoryLabel:hover,
.categoryLabel:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}

.categoryLabel:has(.categoryInput:checked) {
  border: 1px solid var(--nav);
  color: var(--nav);
}

.categoryInput {
  appearance: none;
}

.searchContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchInput {
  padding: 6px 12px;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--secondary-text);
  font-weight: 500;
  transition: border 0.3s ease, color 0.3s ease;
}

.searchLabel {
  color: var(--secondary-text);
  font-weight: 500;
  cursor: pointer;
}

.searchInput:hover,
.searchInput:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}
