.filterContainer{
    margin-bottom: 30px;
}

.filterList {
    display: flex;
    gap: 20px;
}

.filterItem {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #555; 
    font-weight: 500;
}