.modalOpen {
  overflow: hidden;
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 345px;
  max-height: 70vh;
}

.modalContainer {
  position: relative;
  background-color: var(--background);
  border-radius: 5px;
  padding: 20px 30px 20px 20px;
  overflow-y: hidden;
}

.btnClose {
  width: 18px;
  height: 18px;
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: var(--main-text);
  transition: fill 0.3s ease;
}

.btnClose:hover {
  fill: var(--nav);
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  fill: #fff;
  background-color: inherit;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.navButton:hover {
  transform: translateY(-50%) scale(1.1);
}

.navButtonLeft {
  left: 0px;
}

.navButtonRight {
  right: 0px;
}

.iconNav {
  stroke: #fff;
  stroke-width: 0.7;
  fill: none;
  filter: drop-shadow(0 2px 2px #1a1a1a);
  transition: all 0.3s ease-out;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imgContainer {
  width: 295px;
  height: 393px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.cardImg {
  width: 295px;
  height: 393px;
  object-fit: cover;
}

.newContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 295px;
}

.cardTitle {
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .modalWindow {
    width: 738px;
    max-height: 75vh;
  }

  .btnClose {
    width: 32px;
    height: 32px;
  }

  .navButton {
    width: 60px;
    height: 60px;
  }

  .cardContainer {
    flex-direction: row;
    gap: 20px;
  }

  .imgContainer {
    width: 334px;
    height: 100%;
  }

  .newContainer {
    font-size: 20px;
  }

  .cardContent {
    gap: 15px;
    width: 334px;
  }

  .cardTitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modalWindow {
    width: 920px;
    max-height: 80vh;
  }

  .modalContainer {
    padding: 40px 20px 40px 40px;
  }

  .btnClose {
    top: 15px;
    right: 20px;
  }

  .navButton {
    width: 80px;
    height: 80px;
  }

  .iconNav {
    stroke-width: 0.5;
  }

  .imgContainer {
    width: 415px;
    height: 100%;
  }

  .cardContent {
    width: 425px;
    padding-right: 20px;
  }
}
