.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  position: relative;
  background-color: var(--background);
  border-radius: 5px;
  padding: 40px;
  max-height: 85vh;
  overflow-y: auto;
}

.btnClose {
  width: 32px;
  height: 32px;
  background-color: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--main-text);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.imgContainer {
  min-width: 480px;
  height: 640px;
  position: relative;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
