.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  position: relative;
  background-color: var(--background);
  border-radius: 5px;
  padding: 60px;
  max-height: 85vh;
}

.btnClose {
  width: 32px;
  height: 32px;
  background-color: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--main-text);
  transition: fill 0.3s ease;
}

.btnClose:hover {
  fill: var(--nav);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 480px;
}

.cardTitle {
  font-size: 18px;
  color: #28a745;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactsList {
  display: flex;
  gap: 40px;
  color: var(--title);
}

.adressLink:hover,
.adressLink:focus {
  color: var(--nav);
  transition: color 0.3s ease;
}

.footerIcon {
  fill: var(--title);
  transition: fill 0.3s ease;
}

.footerIcon:hover,
.footerIcon:focus {
  fill: var(--nav);
}


.btnConfirm {
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--main-text);
  padding: 6px 100px;
  font-weight: bold;
  border-radius: 4px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btnConfirm:hover,
.btnConfirm:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}
