.cardContainer {
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imgContainer {
  height: 426px;
  position: relative;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.textCard{
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #a52a2a;
  text-align: center;
  line-height: 1.2;
}

.spanCard{
  font-size: 12px;
}

.titleCard {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.2;
}

.priceCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.priceText {
  font-size: 16px; 
  font-weight: bold; 
  color: var(--nav); 
}

.salePriceText {
  font-size: 14px;
  font-weight: bold;
  color: var(--title);
  text-decoration: line-through;
}

.btnBuy {
  background-color: var(--background);
  border: 1px solid var(--border);
  padding: 6px 100px;
  font-weight: bold;
  border-radius: 4px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btnBuy:hover,
.btnBuy:focus {
  border: 1px solid var(--nav);
  color: var(--nav);
}
